<footer>
    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.8874940352453!2d5.438655115493591!3d43.52553877912588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c98d9f2df76539%3A0x7ad9b596db3f9147!2s143+Avenue+Armand+Lunel%2C+13100+Aix-en-Provence%2C+France!5e0!3m2!1sfr!2sfr!4v1505947614964" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
    <div class="link-footer">
        <div>
            <p class="title">Accès rapide</p>
            <p>Accueil</p>
            <p>Réparation</p>
            <p>Newsletter</p>
            <p>Contact</p>
        </div>
        <div>
            <p class="title">Informations légales</p>
            <p>Conditions générales de vente</p>
            <p>Mentions légales</p>
        </div>
        <div>
            <p class="title">Nous contacter</p>
            <p>Email : <a>contact@smartphone.com</a></p>
            <p>Nous appeler : <a>01 02 03 04 05</a></p>
            <div class="reseau">
                <img src="{{ asset('src/images/social-facebook-outline.png') }}">
                <img src="{{ asset('src/images/social-instagram-outline.png') }}">
                <img src="{{ asset('src/images/social-twitter-outline.png') }}">
            </div>
        </div>
    </div>
    <div class="moyen-payment">
        <img src="{{ asset('src/images/PayPal_logo.png') }}">
        <img src="{{ asset('src/images/logo-cb.jpg') }}">
        <img src="{{ asset('src/images/MasterCard-Logo.png') }}">
        <img src="{{ asset('src/images/Visa_Logo.png') }}">
    </div>
    <p class="copyright">Copyright © smartphone - 2017</p>
</footer>
</body>