<header>
    <div class="menu">
        <a href="{{ path("homepage") }}"><h1>LOGO</h1></a>
        <div class="container-menu">
            <div class="menu-picto">
                <form id="search">
                    <input type="search" placeholder="Search">
                </form>
            </div>
            <div class="menu-picto user dropdown">
                <img src="{{ asset('images/person.png') }}" alt="person">
                <div class="dropdown-content">
                    <h2>Connexion</h2>
                    <input type="text" placeholder="Adresse e-mail">
                    <input type="password" placeholder="Mot de passe">
                    <p><a href="">Se Connecter</a></p>
                    <p class="password-forget">Mot de passe oublié ? <a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous</a></p>
                </div>
            </div>
            <div class="menu-picto bag">
                <p>0</p>
                <a href="{{ path("panier_index") }}">
                    <img src="{{ asset('images/bag.png') }}" alt="bag">
                </a>
            </div>
            <div class="menu-picto cart">
                <h2>Mon Panier</h2>
                <p>222</p>
            </div>
        </div>
    </div>
    <nav class="menu-marque">
        <ul class="dropdown-nav-category">
            {% for nav in navs %}
                <li><a href="">{{ nav.name|raw }}</a>
                    <div class="dropdown-nav">
                        {% for cat in categ %}
                          {% if cat.brand == nav.name %}
                            <div class="dropdown-nav-subcategory">
                                <h3 class="dropdown-nav-title">{{ cat.name|raw }}</h3>
                                <ul>
                                    {% for mod in model %}
                                      {% if mod.category == cat.name %}
                                        <li><a href="{{ path('list_product', { 'model': mod.name }) }}">{{ mod.name }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                          {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
