{% extends 'base.html.twig' %}

{% block body %}
<div class="container home">
    <h2>Venez acheter vos pièces en ligne ou en boutique</h2>
    <div class="presentation">
        <div class="presentation1">
            <div class="content-img">
                <img src="{{ asset('images/iphone6.png') }}" alt="iphone6">
            </div>
            <div>
                <h3>Réparation en boutique</h3>
                <p>Logo fait la réparation de vos pièces de téléphone en boutique.</p>
                <button>Voir les tarifs</button>
            </div>
        </div>

        <div class="presentation2">
            <div>
                <h3>Les nouveautées proposées</h3>
                <p>Découvrez toutes les nouveautées des derniers modèles de nos téléphones.</p>
                <button>Voir les tarifs</button>
            </div>
            <div class="content-img">
                <img src="{{ asset('images/s8.png') }}" alt="s8">
            </div>
        </div>
    </div>

    <div class="visuel-produit">
        <img src="{{ asset('images/iphone-bg.jpg') }}" alt="iphone">
        <div class="description">
            <h4>iPhone 7</h4>
            <p>à partir de</p>
            <p class="price">549,99 €</p>
            <button>Voir le produit</button>
        </div>
    </div>

    <div class="stock-produit">
        <div class="text">
            <div class="disponible">
                <div>
                    <h3>Écran LCD iPhone 7</h3>
                    <p class="price">69,99 € TTC</p>
                </div>
                <p class="stock">En stock</p>
            </div>
            <p class="description">Le bloc écran COMPATIBLE (vitre tactile avec 3D Touch + LCD Retina sur chassis) couleur noir est la solution la moins cher pour réparer son iPhone 7.</p>
            <button>Voir le produit</button>
        </div>
        <div class="bg">
            <img src="{{ asset('images/vitre-iphone.png') }}" alt="vitre iphone">
        </div>
    </div>

    <div class="visuel-produit ">
        <img src="{{ asset('images/s8-visuel.jpg') }}" alt="S8">
        <div class="description">
            <h4>Samsung Galaxy S8</h4>
            <p>à partir de</p>
            <p class="price">549,99 €</p>
            <button>Voir le produit</button>
        </div>
    </div>

    <div class="stock-produit">
        <div class="text">
            <div class="disponible">
                <div>
                    <h3>Écran LCD iPhone 7</h3>
                    <p class="price">69,99 € TTC</p>
                </div>
                <p class="stock">En stock</p>
            </div>
            <p class="description">Le bloc écran COMPATIBLE (vitre tactile avec 3D Touch + LCD Retina sur chassis) couleur noir est la solution la moins cher pour réparer son iPhone 7.</p>
            <button>Voir le produit</button>
        </div>
        <div class="bg">
            <img src="{{ asset('images/ecran-s8.png') }}" alt="s8">
        </div>
    </div>

    <div class="produit">
        <h2>Nos Smartphones reconditionnés</h2>
        <div class="content-produit">
            <div class="bg">
                <img src="{{ asset('images/xperiaXZ.jpg') }}" alt="xperia">
            </div>
            <p>Xperia XZ</p>
            <p class="price">249,99 €</p>
            <button>Découvrir</button>
        </div>
        <div class="content-produit">
            <div class="bg">
                <img src="{{ asset('images/huaweiP10PLUS.jpg') }}" align="huawei">
            </div>
            <p>P10</p>
            <p class="price">179,99 €</p>
            <button>Découvrir</button>
        </div>
        <div class="content-produit">
            <div class="bg">
                <img src="{{ asset('images/htcU.jpg') }}" align="htc">
            </div>
            <p>U Ultra</p>
            <p class="price">249,99 €</p>
            <button>Découvrir</button>
        </div>
        <div class="content-produit">
            <div class="bg">
                <img src="{{ asset('images/asusZENFONE3.jpeg') }}" alt="asus">
            </div>
            <p>Zenfone3</p>
            <p class="price">199,99 €</p>
            <button>Découvrir</button>
        </div>
    </div>

    <div class="description-boutique">
        <div class="bg">
            <img src="{{ asset('images/tyler-mullins-136632.jpg') }}" alt="iphone">
            <p>Déblocage smartphone Aix-en-Provence.</p>
        </div>
        <p>Débloquez votre smartphone à petit prix
            Faites débloquer votre smartphone par un professionnel en seulement quelques minutes ! Un magasin de réparation de smartphone à Aix-en-Provence vous propose ce service à un prix très intéressant.
            </br>
            </br>
            </br>
            Que vous possédiez un smartphone de dernière génération ou un téléphone portable plus ancien, des experts vous proposent le déblocage de votre téléphone à Aix-en-Provence à petit prix. Pour en savoir plus composez le 01.76.45.42.47 ou envoyez un devis.</p>
    </div>
</div>
{% endblock %}
