{% extends "base.html.twig" %}
{% block body %}
    <div class="container product">
        <h1>{{ data.brand }}</h1>
        <div class="row-product">
            <div style="background-image:url({{ asset("/uploads/images/products/#{data.image}")}})" class="bg">
            </div>
            <div class="product-description">
                <h2>{{ data.title|raw }}</h2>
                <p>{{ data.detail|raw }}</p>
                <span>Ref. {{ data.reference }}</span>
                <p class="price">{{ data.rate }}€</p>
                {#<div>#}
                {#<button value="+">+</button>#}
                {#<p>1</p>#}
                {#<button value="-">-</button>#}
                {#</div>#}
                {% if data.stock >= 1 %}
                    <p class="stock"> En stock</p>
                    <a href="">Livraison et retour gratuit</a>
                    <a href="" class="condition">Condition générales de ventes</a>
                    <a href="{{ path('panier_add', { 'id': data.id }) }}" class="panier"><i></i>Ajouter au panier</a>
                {% else %}
                    <p class="rupture"> En réapprovisionnement</p>
                    <a href="">Livraison et retour gratuit</a>
                    <a href="" class="condition">Condition générales de ventes</a>
                    <a class="panier" style="display: none"></a>
                {% endif %}
            </div>
        </div>

        <div class="video">
            <h2>{{ data.titleVideo }}</h2>
            <div class="bg">
                <iframe width="630" height="315" src="https://www.youtube.com/embed/{{ data.youtubeId }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="interesser">
            <h2>Ce qui pourrait vous intéressez</h2>
            <div class="row">
                {% for product in suggestion %}
                    {% if product.visible == 1 %}
                        <div class="product-interesse">
                            <a href="{{ path('product_sl', {'slug' : product.slug}) }}">
                                <div style="background-image:url({{ asset("/uploads/images/products/#{product.image}") }})" class="bg">
                                </div>
                                <h3>{{ product.title }}</h3>
                                <p>{{ product.rate }}€</p>
                                <button>Découvrir</button>
                            </a>
                        </div>
                    {% else %}
                        <div class="row" style="display: none"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    </body>
    </html>
{% endblock %}
